{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'base/styles/bootstrap.css' %}" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" /> -->
    <!-- <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css" /> -->
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Base Template</title>
    {% endif %} {% block head %} {% endblock %}
  </head>
  <body>
    {% include 'snippets/navbar.html' %} {% block content %} {% endblock %}
    <script src="{% static 'base/scripts/jquery.js' %}"></script>
    <script src="{% static 'base/scripts/popper.js' %}"></script>
    <script src="{% static 'base/scripts/bootstrap.js' %}"></script>
    {% block script %}{% endblock %}
  </body>
</html>
